<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOme</title>
</head>
<body>
    <h2> Hello World<a href = "{% url 'home'%}">Home</a>
        
      <a href = "{% url 'UserSignIN'%}">    Login</a>
      <a href = "{% url 'RegisterUser'%}">    SignUp</a>
      {% if user.is_authenticated%}
      <a href = "{% url 'UserLogOut'%}">    LogOut</a>
      {% endif %}
        
    </h2>
</body>
</html>